/* Variables */
:root {
  /* Theme */
  --primary: rgb(213, 52, 124);
  --secondary: rgb(236, 162, 69);
  /* divs */
  --background: rgb(245, 245, 245);
  --container-background: rgb(255, 255, 255);
  --gradient: linear-gradient(
    to bottom right,
    rgb(213, 52, 133),
    rgb(221, 161, 85)
  );
  --gradient-hover: linear-gradient(
    to bottom right,
    rgb(221, 161, 85),
    rgb(221, 161, 85)
  );
  --div-border-radius: 20px;
  --nav-item-border-radius: 10px;
  /* Fonts */
  --primary-font-color: rgb(148, 32, 84);
  --secondary-font-color: rgb(190, 130, 55);
  --bold: 600;
  --non-bold: 400;
  --errors: rgba(231, 16, 16);
  --errors-nonHover: rgba(231, 16, 16, 0.5);
  /* Extras */
  --separators-color: rgb(235, 174, 164);
  /* Shadows */
  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  --shadow-hover: 0px 7px 13px rgba(0, 0, 0, 0.16);
  /* Animations */
  --animation-short: all 0.1s ease-in-out;
  /* Scroll */
  --scroll: rgb(230, 230, 230);
  --scroll-hover: rgb(200, 200, 200);
  --scroll-background: var(--container-background);
}

/* Global */
.app-dark {
  --primary-font-color: rgb(255, 231, 242);
  --container-background: rgb(15, 15, 15);
  --background: rgb(0, 0, 0);
  --shadow: 0px 4px 10px rgb(0, 0, 0);
  --shadow-hover: 0px 4px 10px rgb(0, 0, 0);
  --separators-color: rgb(110, 82, 78);
  --scroll: rgb(25, 25, 25);
  --scroll-hover: rgb(30, 30, 30);
  --scroll-background: var(--container-background);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
.btn {
  background-image: var(--gradient);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--animation-short);
  box-shadow: var(--shadow);
}
.btn:hover {
  box-shadow: var(--shadow-hover);
  transform: translateY(-2px);
}
.app-container {
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  width: 7px;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}
.tab-container {
  background-color: var(--background);
  color: var(--primary-font-color);
  display: flex;
  min-width: 82vw;
  justify-content: center;
  align-items: center;
}
.content-container {
  background-color: var(--container-background);
  border-radius: var(--div-border-radius);
  box-shadow: var(--shadow);
  width: 95%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.subsection {
  padding: 20px;
  box-shadow: var(--shadow);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.section-title {
  color: var(--secondary);
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.input-name {
  color: var(--secondary);
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 5px 0;
}
.input-section {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input-lang {
  font-weight: 500;
  margin: 0 5px 0 0;
}
.dropdown-icon {
  color: var(--secondary);
  transition: var(--animation-short);
}
.dropdown-icon-selected {
  transform: rotate(180deg);
}
.deleteIcon {
  color: var(--errors-nonHover);
  font-size: 12px;
  transition: var(--animation-short);
}
.deleteIcon:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: var(--errors);
}

/* Login */
.login-container {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100vw;
}
.login-logo {
  width: 160px;
  height: 160px;
  box-shadow: var(--shadow);
  border-radius: var(--div-border-radius);
  margin-bottom: 50px;
}
.login-form-container {
  background-color: var(--container-background);
  border-radius: var(--div-border-radius);
  box-shadow: var(--shadow);
  justify-content: center;
  width: 35%;
  padding: 10px 30px;
  margin-bottom: 50px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}
.sign-in {
  text-align: center;
  color: var(--secondary);
  margin: 0;
  font-size: 25px;
}
.login-input-name {
  color: var(--secondary);
  font-weight: var(--bold);
  font-size: 14px;
  margin: 0;
}
.input {
  width: 100%;
  border: 0;
  border-bottom: solid 1px var(--separators-color);
  height: 25px;
  margin-bottom: 15px;
  border-radius: 0;
  padding: 0;
  color: var(--primary-font-color);
  background-color: var(--container-background);
}
.input:focus {
  outline: none;
}
.input-error {
  color: var(--errors);
}
.sign-in-btn {
  width: 190px;
  height: 40px;
  align-self: center;
  font-size: 20px;
  margin-top: 20px;
}
.login-forgot-password {
  align-self: center;
  margin: 0 0 30px 0;
  color: var(--secondary-font-color);
  transition: var(--animation-short);
}
.login-forgot-password:hover {
  color: var(--secondary);
  transform: scale(1.02);
  cursor: pointer;
}
.submited {
  opacity: 50%;
}
.keep-signed-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.keep-signed-in {
  margin: 0 0 3px 5px;
  color: var(--primary-font-color);
}
.keep-siged-in-icon {
  color: var(--secondary);
}
.sign-in-error {
  align-self: center;
  margin: -10px 0 5px 0;
  color: var(--errors);
  font-weight: 600;
  font-size: 12px;
}

/* NavBar */
.nav-container {
  width: 18vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow);
  overflow-y: scroll;
  height: calc(100vh - 40px);
  background-color: var(--container-background);
}
.nav-profile-container {
  margin: 0;
  min-width: 80%;
}
.nav-user-rol {
  color: var(--secondary-font-color);
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.nav-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-font-color);
  cursor: pointer;
}
.nav-user-name {
  margin: 0;
}
.nav-logo {
  width: 150px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: var(--div-border-radius);
  max-width: 100%;
  margin: 40px 0;
}
.nav-items {
  margin: 0;
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.nav-item {
  text-decoration: none;
  list-style-type: none;
  padding: 7px 10px;
  border-radius: var(--nav-item-border-radius);
  box-shadow: 0;
  transition: var(--animation-short);
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: 16px;
}
.nav-item:hover {
  box-shadow: var(--shadow);
}
.nav-item-icon-container {
  color: var(--secondary);
}
.nav-item-icon {
  min-width: 20px;
  max-width: 20px;
  margin-right: 10px;
}
.nav-item-selected {
  background-image: var(--gradient);
  font-weight: 600;
  color: white;
  box-shadow: var(--shadow);
}
.nav-item-icon-selected {
  color: white;
}
.toggles-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 600;
}
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-font-color);
  margin: 0;
}
.toggle {
  display: flex;
  flex-direction: row;
  background-image: var(--gradient);
  border-radius: 100px;
  padding: 2px;
  align-items: center;
  box-shadow: var(--shadow);
  font-weight: 600;
}
.toggle-item {
  color: white;
  border-radius: 100px;
  padding: 4px 8px;
  transition: var(--animation-short);
  cursor: pointer;
  text-decoration: none;
}
.toggle-item:hover {
  transform: scale(1.05);
}
.toggle-item-selected {
  color: var(--secondary-font-color);
  background-color: white;
  box-shadow: var(--shadow);
}
.toggle-item-selected:hover {
  transform: scale(1);
}
@media only screen and (max-width: 1300px) {
  .toggles-container {
    flex-direction: column;
  }
}

/* Create ingredient */
.ingredient-general-container {
  z-index: 2;
  width: 40%;
}
.ingredient-nutrivalue-container {
  z-index: 1;
  width: 60%;
  box-shadow: none;
}
.ingredient-lang-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ingredient-lang-container:hover {
  cursor: pointer;
}
.ingredient-lang-checkbox {
  color: var(--secondary);
  margin-right: 5px;
}
.ingredient-lang {
  margin: 0 0 2px 0;
}
.create-ingredient-btn {
  padding: 5px 20px;
  width: auto;
  align-self: center;
  font-size: 20px;
  margin-top: 20px;
}
.ingredient-error {
  color: var(--errors);
  align-self: center;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

/* Create recipe */
.createRecipe-general-container {
  width: 25%;
  z-index: 2;
}
.createRecipe-prep-container {
  width: 40%;
  z-index: 1;
}
.createRecipe-opc-container {
  min-width: 35%;
  z-index: 0;
}
.createRecipe-selected-image {
  width: 50px;
  height: auto;
}
.createCat-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--secondary);
}
.create-category-btn {
  width: 60%;
  padding: 2px;
  justify-self: center;
}
.createCat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createRecipe-image {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  min-height: 100px;
  height: auto;
  max-width: 100px;
  margin-top: 10px;
  box-shadow: var(--shadow);
  border-radius: var(--div-border-radius);
}
.recipe-img-input {
  justify-self: flex-end;
  padding: 2px 30px;
}
.createRecipe-img-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createRecepy-quantity-input-container {
  display: flex;
  width: 50%;
  align-self: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
.createRecepy-add-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.createRecipe-timeType {
  margin: 15px 0 5px 0;
  align-self: center;
}
.createRecipe-totalTime {
  font-weight: 600;
}
.createRecipe-ingredient-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 5px 0;
}
.createRecipe-ingredient-bullet {
  margin: -10px 10px 0 0;
  font-size: 30px;
  color: var(--secondary);
}
.createRecipe-ingredient-inputs-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.createRecipe-ingredient-input-container {
  width: 100%;
}
.hide-overflow-y {
  overflow-y: hidden;
  position: relative;
  margin-top: -15px;
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--div-border-radius) var(--div-border-radius);
}
.suggestions-container {
  background-color: var(--container-background);
  padding: 10px;
  max-height: 150px;
  overflow-y: scroll;
}
.suggestion-container {
  margin: 10px 0;
}
.suggestion-container:hover {
  color: var(--secondary);
  cursor: pointer;
}
.fraction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.dividedBy {
  margin: 5px 0;
  width: 50px;
  background-color: var(--secondary);
  border-radius: var(--div-border-radius);
  height: 2px;
}
.createRecepy-add-btn-mini {
  width: 20px;
  height: 20px;
  font-size: 15px;
}
.createRecepy-quantity-input-container-mini {
  width: 30%;
}
.createRecipe-cuantity-input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-font-color);
  text-align: center;
  max-width: 40px;
}
.createRecipe-cuantity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.add-ingredient-btn {
  padding: 2px 20px;
  min-width: 35%;
  align-self: center;
}
.createReicpe-unit-langs-container {
  width: 100%;
  margin: 5px 0 0 20px;
}
.createRecipe-instructions-num {
  margin: 0 10px 0 0;
}
.createRecipe-tags-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.tagContainer {
  width: 30%;
  margin: 8px 0;
  padding: 2px 0;
}
.unselected-tag {
  background-color: var(--container-background);
  color: var(--primary-font-color);
  font-weight: 400;
  background-image: none;
}
.unselected-tag:hover {
  background-color: var(--secondary);
}
.create-tag-btn {
  max-width: 40%;
  padding: 2px;
}
.createRecipe-btn {
  margin: 0 0 -10px 0;
  width: 50%;
  padding: 6px 10px;
  align-self: center;
}
.createRecipe-error {
  color: var(--errors);
  margin: -20px 0 0 0;
  align-self: center;
  font-size: 14px;
  font-weight: 500;
}
.accompaniment-selected {
  display: flex;
  justify-content: space-between;
  max-width: 90px;
  padding: 1px 15px;
  margin: 5px 0;
  text-align: center;
}
.accompaniment-selected:hover {
  transform: translateY(0);
}
.remove-accompaniment {
  transition: var(--animation-short);
}
.remove-accompaniment:hover {
  transform: scale(1.2);
}
.selectedAccompaniments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.accompaniments-suggestions-container {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0;
  width: 400px;
  max-width: 100%;
  align-self: center;
}
.accompaniments-suggestion-container {
  width: 40%;
  height: 160px;
  box-shadow: var(--shadow);
  border-radius: var(--div-border-radius);
  margin: 10px 0;
}
.accompaniments-suggestion-img {
  width: 100%;
  height: auto;
}
.accompaniments-suggestion-img-super-container {
  width: 100%;
  overflow: hidden;
  height: 65%;
  display: flex;
  align-items: center;
  border-top-right-radius: var(--div-border-radius);
  border-top-left-radius: var(--div-border-radius);
}
.accompaniments-suggestion-img-container {
  display: flex;
  width: calc(80vw * 0.35 * 0.4);
  overflow: hidden;
}
.accompaniments-suggestion-text-container {
  padding: 2px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.accompaniments-suggestion-select {
  padding: 1px 20px;
  border-radius: var(--div-border-radius);
  box-shadow: var(--shadow);
}
.accompaniments-suggestion-select:hover {
  background-image: var(--gradient);
  font-weight: 600;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/* View recipe */
.recipe-finder-container {
  width: calc(82vw * 0.95 * 0.45);
}
.recipe-finder-container::-webkit-scrollbar {
  width: 0;
}
.recipe-recipeSection-container {
  width: calc(82vw * 0.95 * 0.55);
  box-shadow: none;
  max-height: 100%;
  overflow: hidden;
}
.recipe-search-container {
  display: flex;
  flex-direction: row;
  margin-bottom: -5px;
  align-items: baseline;
}
.recipe-search-btn {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
  font-size: 20px;
}
.recipe-search-visibility-toggle {
  height: 30px;
  max-width: min-content;
  justify-content: space-between;
}
.recipe-search-results-container-empty {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.recipe-search-recipe-img {
  width: fit-content;
  height: fit-content;
  min-height: 100%;
  min-width: 100%;
}
.recipe-search-recipe-img-container {
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: calc((82vw * 0.95 * 0.45 - 40px) * 0.4 + 1);
}
.recipe-search-recipe-container {
  width: 40%;
  box-shadow: var(--shadow);
  border-radius: 20px;
  margin: 10px 0;
}
.recipe-search-results-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}
.recipe-search-recipe-txt-container {
  padding: 5px 15px;
}
.recipe-search-recipe-name {
  margin: 0;
  font-weight: 500;
}
.recipe-search-recipe-category {
  margin: 0;
  font-size: 13px;
  color: var(--secondary);
}
.recipe-search-recipe-view-container {
  display: flex;
  justify-content: center;
}
.recipe-search-recipe-view {
  padding: 2px 20px;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: var(--shadow);
  margin: 5px 0;
}
.recipe-recipeSection-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 10px 20px;
  height: calc(90vh - 92px);
  width: calc(82vw * 0.95 * 0.55 - 80px);
  max-width: 100%;
  overflow-x: hidden;
}
.recipe-recipeSection-content-container-empty {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe-recipeSection-options-container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 40%;
}
.recipe-recipeSection-options-editRecipeBtn {
  width: fit-content;
  padding: 4px 35px;
  font-size: 20px;
}
.recipe-recipeSection-options-deleteRecipeBtn {
  color: var(--secondary);
  transition: var(--animation-short);
  cursor: pointer;
}
.recipe-recipeSection-options-deleteRecipeBtn:hover {
  transform: scale(1.1);
}
.recipe-recipeSection-recipe-container {
  border-radius: var(--div-border-radius);
  box-shadow: var(--shadow);
  overflow-x: visible;
  width: calc(((82vw * 0.95 * 0.55) - 80px) * 0.45);
  max-width: 45%;
  min-width: 45%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.recipe-recipeSection-recipe-container::-webkit-scrollbar {
  width: 0;
}
.recipe-recipeSection-recipe-img-container {
  width: calc((82vw * 0.95 * 0.55 - 80px) * 0.45);
  border-radius: var(--div-border-radius) var(--div-border-radius) 0 0;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow-y: hidden;
  z-index: 0;
}
.recipe-recipeSection-recipe-img {
  width: 100%;
  height: auto;
  border-radius: var(--div-border-radius) var(--div-border-radius) 0 0;
}
.recipe-recipeSection-recipe-content-container {
  border-radius: var(--div-border-radius);
  margin-top: 200px;
  position: relative;
  top: -20px;
  margin-bottom: -20px;
  width: 100%;
  height: fit-content;
  z-index: 1;
  background-color: var(--container-background);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recipe-recipeSection-recipe-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.recipe-recipeSection-recipe-category {
  margin: 0;
  font-weight: 500;
  color: var(--secondary);
}
.recipe-recipeSection-recipe-name {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
.recipe-recipeSection-recipe-description {
  margin: 5px 0 0 0;
  text-align: center;
  width: 90%;
  font-size: 14px;
}
.recipe-recipeSection-recipe-separator {
  width: 90%;
  height: 0.8px;
  background-color: var(--separators-color);
  margin: 10px 0;
}
.recipe-recipeSection-recipe-ingredient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 2px 0 2px 10px;
}
.recipe-recipeSection-recipe-ingredient-bullet {
  font-weight: 700;
  color: var(--secondary);
  margin: 0;
}
.recipe-recipeSection-recipe-ingredient-cuantity {
  margin: 0 5px 0 10px;
  font-weight: 600;
}
.recipe-recipeSection-recipe-instruction {
  margin: 0 0 0 10px;
}
.recipe-recipeSection-recipe-accompaniment-container {
  width: 100px;
  height: 120px;
  border-radius: var(--div-border-radius);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
}
.recipe-recipeSection-recipe-accompaniment-img {
  height: 70px;
  width: 100%;
  border-radius: var(--div-border-radius) var(--div-border-radius) 0 0;
}
.recipe-recipeSection-recipe-accompaniment-name {
  margin: 0 0 0 10px;
  align-self: baseline;
}
.recipe-recipeSection-recipe-accompaniment-view {
  margin: 0;
  padding: 0 15px;
  border-radius: var(--div-border-radius);
  box-shadow: var(--shadow);
  font-size: 14px;
}
.recipe-recipeSection-recipe-accompaniments-container {
  overflow-x: scroll;
  padding: 15px 10px;
  margin: -10px 0 -20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe-recipeSection-recipe-nutrivalues-container {
  width: 90%;
}
.recipe-recipeSection-recipe-nutrivalues-row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.1px dotted var(--separators-color);
  padding: 2px 0;
}
.calories {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.nutrifact {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px 0 0;
}
.subnutrifact {
  margin: 0 5px 0 20px;
  font-size: 14px;
}
.dailyvalue {
  text-align: center;
  font-size: 12px;
  margin: 5px 0 0 0;
}
.recipe-recipeSection-recipe-notes {
  text-align: center;
  margin: 0 0 20px 0;
  width: 90%;
}

/* Default */
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 82vw;
  color: var(--primary-font-color);
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
